accelerate==1.0.1
av==13.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
filelock==3.16.1
fsspec==2024.9.0
huggingface-hub==0.25.2
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.1
mpmath==1.3.0
networkx==3.4.1
numpy==2.1.2
packaging==24.1
pillow==11.0.0
psutil==6.0.0
PyYAML==6.0.2
qwen-vl-utils==0.0.8
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
sympy==1.13.3
tokenizers==0.20.1
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm==4.66.5
transformers @ git+https://github.com/huggingface/transformers@9d6998c759fc08d6a87e81adf26e59d9c932396b
typing_extensions==4.12.2
urllib3==2.2.3
